In [2]:
import pandas as pd
import numpy as np
from matplotlib import pylab as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [ ]:
# read in the dataset
df = pd.read_excel("data/GDSC2.xlsx")

df.head

<bound method NDFrame.head of        DATASET  NLME_RESULT_ID  NLME_CURVE_ID  COSMIC_ID CELL_LINE_NAME  \
0        GDSC2             343       15946310     683667         PFSK-1
1        GDSC2             343       15946548     684052           A673
2        GDSC2             343       15946830     684057            ES5
3        GDSC2             343       15947087     684059            ES7
4        GDSC2             343       15947369     684062          EW-11
...        ...             ...            ...        ...            ...
242031   GDSC2             343       16188242    1659928        SNU-175
242032   GDSC2             343       16188695    1660034        SNU-407
242033   GDSC2             343       16188953    1660035         SNU-61
242034   GDSC2             343       16189493    1674021         SNU-C5
242035   GDSC2             343       16189775    1789883           DiFi

       SANGER_MODEL_ID     TCGA_DESC  DRUG_ID          DRUG_NAME  \
0            SIDM01132            MB     1003       Camptothecin
1            SIDM00848  UNCLASSIFIED     1003       Camptothecin
2            SIDM00263  UNCLASSIFIED     1003       Camptothecin
3            SIDM00269  UNCLASSIFIED     1003       Camptothecin
4            SIDM00203  UNCLASSIFIED     1003       Camptothecin
...                ...           ...      ...                ...
242031       SIDM00216        COREAD     2499  N-acetyl cysteine
242032       SIDM00214        COREAD     2499  N-acetyl cysteine
242033       SIDM00194        COREAD     2499  N-acetyl cysteine
242034       SIDM00498        COREAD     2499  N-acetyl cysteine
242035       SIDM00049        COREAD     2499  N-acetyl cysteine

       PUTATIVE_TARGET     PATHWAY_NAME  COMPANY_ID WEBRELEASE  MIN_CONC  \
0                 TOP1  DNA replication        1046          Y  0.000100
1                 TOP1  DNA replication        1046          Y  0.000100
2                 TOP1  DNA replication        1046          Y  0.000100
3                 TOP1  DNA replication        1046          Y  0.000100
4                 TOP1  DNA replication        1046          Y  0.000100
...                ...              ...         ...        ...       ...
242031      Metabolism       Metabolism        1101          Y  2.001054
242032      Metabolism       Metabolism        1101          Y  2.001054
242033      Metabolism       Metabolism        1101          Y  2.001054
242034      Metabolism       Metabolism        1101          Y  2.001054
242035      Metabolism       Metabolism        1101          Y  2.001054

        MAX_CONC    LN_IC50       AUC      RMSE   Z_SCORE
0            0.1  -1.463887  0.930220  0.089052  0.433123
1            0.1  -4.869455  0.614970  0.111351 -1.421100
2            0.1  -3.360586  0.791072  0.142855 -0.599569
3            0.1  -5.044940  0.592660  0.135539 -1.516647
4            0.1  -3.741991  0.734047  0.128059 -0.807232
...          ...        ...       ...       ...       ...
242031    2000.0  10.127082  0.976746  0.074498  0.156872
242032    2000.0   8.576377  0.913378  0.057821 -1.626959
242033    2000.0  10.519636  0.975001  0.058090  0.608442
242034    2000.0  10.694579  0.969969  0.101013  0.809684
242035    2000.0  10.034825  0.966988  0.089057  0.050746

[242036 rows x 19 columns]>

In [6]:
df.columns
df = df.drop(
    columns=[
        "DATASET",
        "NLME_RESULT_ID",
        "NLME_CURVE_ID",
        "SANGER_MODEL_ID",
        "COMPANY_ID",
        "WEBRELEASE",
    ]
)

In [11]:
df.describe()

,COSMIC_ID,DRUG_ID,MIN_CONC,MAX_CONC,LN_IC50,AUC,RMSE,Z_SCORE
count,2.420360e+05,242036.000000,242036.000000,242036.000000,242036.000000,242036.000000,242036.000000,2.420360e+05
mean,9.921059e+05,1594.042444,0.023143,23.462279,2.817079,0.882592,0.082779,7.312962e-10
std,2.209819e+05,398.740714,0.158738,158.622810,2.762229,0.146998,0.042695,9.993925e-01
min,6.836670e+05,1003.000000,0.000010,0.010000,-8.747724,0.006282,0.003274,-8.254501e+00
25%,9.068050e+05,1149.000000,0.003002,3.000000,1.508018,0.849449,0.051107,-6.568485e-01
50%,9.097200e+05,1631.000000,0.010005,10.000000,3.236731,0.944196,0.076083,1.058000e-02
75%,1.240144e+06,1912.000000,0.010005,10.000000,4.700110,0.974934,0.106105,6.560362e-01
max,1.789883e+06,2499.000000,2.001054,2000.000000,13.820189,0.998904,0.299984,7.978776e+00